[Desktop Entry]
Encoding=UTF-8
Name=AquariusCoin
Comment=AquariusCoin P2P Cryptocurrency
Comment[fr]=AquariusCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AquariusCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/aquariuscoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/aquariuscoin;
Categories=Office;
